# Python Review

#### 1. Print two sentences.  Use only one print statement to do it and use the newline escape character between the two sentences. It should (without quotes) read.   
"My name is (your name).    
I am a student at North Seattle College."

In [1]:
my_name = 'Kayla Rieck'
print(f"My name is {my_name}\nI am a student at North Seattle College.")

My name is Kayla Rieck
I am a student at North Seattle College.

#### 2. Define a variable called phone and insert a phone number without dashes. Print out    
"My phone number is (phone number here)"

In [2]:
phone = 5556667777
print(f"My phone number is {phone}")

My phone number is 5556667777

#### 3. Be sure to use the f functionality of printing. Save in a variable called phone a phone number with dashes and another variable with your name in it. Print out    
"Hello my name is (your name) and my phone number is (phone number with dashes)"

In [3]:
phone = "555-666-7777"
name = "Kayla Rieck"
print(f"Hello my name is {name} and my phone number is {phone}")

Hello my name is Kayla Rieck and my phone number is 555-666-7777

#### 4. Create variables for the month and year you will graduate in one line. 
#### Using the variables print out "I graduate in (month) of (year)."
Don't forget the period.

In [4]:
month, year = "October", "2026"
print(f"I graduate in {month} of {year}.")

I graduate in October of 2026.

### Mathematical

#### 5. Create a variable called ans and into it save the solution to 12 times 5 minus 3 divided by 2. Be sure you write in exactly that order. Print ans. Now write a comment underneath explaining what the TYPE of ans is at the end.

In [6]:
ans = 12 * 5 - 3 / 2
print(ans)
# Ans is a floating point number

58.5

### Decision Structures

#### 6. Create a variable to hold the string "October". Now write an if/else statement that tests if that variable says "October". If it does, print "31 days". If it does not, print "30 days"

In [8]:
var = "October"
if var == "October":
    print("31 days")
else:
    print("30 days")

31 days

#### 7. Create a variable and save 140 into it. Now create a decision structure using if, elif and else that does the following:    
If the number is greater than 150, print "greater than 150"   
If the number if greater than 100 but less than 151, print "between 100 and 150"   
If the number is less than 100, print "less than 100"

In [9]:
var = 140
if var > 150:
    print("Greater than 150")
elif var > 100:
    print("Between 100 and 150")
else:
    print("Less than 100")

Between 100 and 150

#### 8. Create a variable to hold the number 70. Now create two if statements:
#### 1st: if the number is divisible by 5 and by 10, then print "Number is divisible by 5 and 10."    
#### 2nd: if the number is divisible by 7 or by 2, then print "Number is divisible by 7 or by 2"

In [10]:
var = 70
if var % 5 == 0 and var % 10 == 0:
    print("Number is divisible by 5 and 10")
if var % 7 == 0 or var % 2 == 0:
    print("Number is divisible by 7 or 2")

Number is divisible by 5 and 10
Number is divisible by 7 or 2

#### 9. Create a FOR loop that prints the numbers 1 through 100 that are divisible by 7.

In [15]:
for i in range(100):
    if i % 7 == 0:
        print(i)

# And again with a one-line list comprehension
# [print(i) for i in range(0, 100, 7)]

0
7
14
21
28
35
42
49
56
63
70
77
84
91
98

#### 10. Use a while loop to print all numbers from 1 to 10 which are divisible by 3. Print the numbers next to each other with a space in between them. Use a while loop and if statement. Sum up the numbers and printt he sum on a new line.

In [18]:
i = 1
sum = 0
while i <= 10:
    if i % 3 == 0:
        print(i, end = " ")
        sum += i
    i = i+1
print(f"\n{sum}")

3 6 9
18

#### 11. You will be creating a nested loop like we did in class but with a twist. Ultimately, you want 5 sets to print, each one with the output "Set : (set number)" each time a new set is looped into. Then before you print all the numbers in that set, you want to test if the number is divisible by 2. If it is, print a string 5 times that looks like this: "Student (number)".  So it would have 5 sets... some of them would have strings printed in them, some would not. The ones that would have strings in them would show output like:
"    
Set: 1    
Set: 2    
Student 1    
Student 2    
Student 3    
Student 4    
Student 5    
Set: 3     
..."

In [21]:
for i in range(1,6):
    print(f"Set: {i}")
    if i % 2 == 0:
        for j in range(1,6):
            print(f"Student {j}")

Set: 1
Set: 2
Student 1
Student 2
Student 3
Student 4
Student 5
Set: 3
Set: 4
Student 1
Student 2
Student 3
Student 4
Student 5
Set: 5

#### 12. Create a variable called school to hold the string "Hogwarts". Create two more variables, the first (call it first) and it will slice out the "Hog" and the other (call it second) will slice out the "warts" from the first variable. (Do not just save the strings "Hog and "warts" into these two variables!) Now print first and second and then print the last letter of school.

In [26]:
school = "Invisible Academy"
first = school[:9]
second = school[10:]
print(first)
print(second)
print(school[-1])

Invisible
Academy
y

#### 13. Create a list called chars and save these strings in: Thor, She-Hulk, Loki.  Now use a FOR loop to print each item as a concatenation of the string: " is a character in the Marvel Cinematic Universe.."  So the output will be:
Thor is a character in the Marvel Cinematic Universe.
She-Hulk is a character in the Marvel Cinematic Universe.
Loki is a character in the Marvel Cinematic Universe.

In [27]:
chars = ["Thor","She-Hulk","Loki"]
for char in chars:
    print(f"{char} is a character in the Marvel Cinematic Universe.", end = " ")

Thor is a character in the Marvel Cinematic Universe. She-Hulk is a character in the Marvel Cinematic Universe. Loki is a character in the Marvel Cinematic Universe.

#### 14. Create a nested list called months. It will be a list with 6 lists within it. In each nested list will be the name of a month as a string and then the number of days it has. Create this using the first 6 months. Now use a loop with range and len function to print the following string format on each iteration:    
"January has 31 days"  .... (month name) has (month days) days.

In [32]:
months = [
    ["January", 31],
    ["February", 28],
    ["March", 31],
    ["April", 30],
    ["May", 31],
    ["June", 30]
]

for i in range(len(months)):
    print(f"{months[i][0]} has {months[i][1]} days in it.")

#for month, month_days in months:
#    print(f"{month} has {month_days} days in it.")

January has 31 days in it.
February has 28 days in it.
March has 31 days in it.
April has 30 days in it.
May has 31 days in it.
June has 30 days in it.

#### 15. Create a dictionary called dog that hold the data below. Print it. Then print the value of the Breed key. Then use the values in the dictionary to print out the string: "The Corgi is expected to live about 13 years."    
Data:     
Breed = Corgi   
Age Exp. = 13   
Type = Cattle herding

In [37]:
dog = {'Breed': 'Corgi', 'Age Exp.': 13, 'Type': 'Cattle herding'}
print(dog)
print(dog['Breed'])
print(f"The {dog['Breed']} is expected to live about {dog['Age Exp.']} years.")

{'Breed': 'Corgi', 'Age Exp.': 13, 'Type': 'Cattle herding'}
Corgi
The Corgi is expected to live about 13 years.